:root{
  --mainBlue:#37517e;
    --color-secondary: #6f8691;
    --color-accent: #00b9ff;
    --color-positive: #2ed06e;
    --color-negative: #f53636;
    --color-warning: #ffa600;
    --mainWhite:#f2f5f7;
}
.App{
  font-family: 'Biryani', sans-serif;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}